
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Starter Template for Bootstrap</title>

    <!-- Bootstrap core CSS -->
    <link href="../static/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="starter-template.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="../../assets/js/ie-emulation-modes-warning.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>




    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">Food Findr</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="/">Home</a></li>
            <li><a href="/slides">Slides</a></li>
            <li><a href="/about">About</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>


<br><br><br><br>

  <!-- Text boxes and button for searching again  !-->
  <div class="container">
    <div class = "container">
      <form  action="/output" method="GET">
        <div class="form-group">
          <label for="ID">Find more food:</label>
          <input type="text" id="ID" name='ID' placeholder="more food ">
          <label for="LOC" style="padding-left: 2cm">Near:</label>
          <input type="text" id="LOC" name='LOC' placeholder="Phoenix, AZ" style="padding-right: 1cm" disabled="disabled">
	  <button type="submit" class="btn btn-default btn-sm">Find more food!</button>
        </div>
      </form>
    </div>
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="static/js/bootstrap.min.js"></script>
  </div> <!-- /.container-->

<hr align="center" width="80%" style="height: 4px; color: #700; background-color: #700">


    <div class="container">
      <div class="starter-template">
        <p class="lead">Taste the best <b>{{input_term}}</b> near <b>Phoenix, AZ</b> at:<br></p>
      </div>

      <hr align="center" width="80%" style="height: 2px; color: #000; background-color: #000">

      <!-- Make class to hold Restaurant Information-->
      {% for rest in restaurants %}
      <div class="restaurant-rank">
	<div class="restaurant-name">
	  <p style="font-size: 30px"><a href="javascript:code_toggle({{rest['rank']}})" style="color: #770000"><b>#{{rest['rank']}}</b> {{rest['name']}}</a></p>
	</div>

	<div>
	  <table align="center" cellspacing="0">
	    <tr style="border-bottom: 1px solid #000;">
	      <th></th><th style="font-size: 125%"><u>{{rest['city'].title()}}, AZ</u></th><th style="font-size: 125%; text-align: center">FoodFindr {{input_term}} Score</th><th style="font-size: 125%; text-align: center; width: 150px">Also Known for {{rest['recommend_type']}}!</th><th style="font-size: 125%; padding: 0px 25px 0px 25px; text-align: center">Yelp Score</th>
	    </tr>
	    <tr>
	      <td></td>
	      <td style="width: 400px"><p style="font-size: 16px">"{{rest['content']}}"</p></td>
	      <td style="width: 150px"><img align="middle" src="static/images/ffcircle_{{rest['ffround']}}.png" style="height: 15%; padding: 0px 25px 0px 25px"><p style="margin-top: -60px; font-size: 18px" align="center"><b>{{rest['ffscore']}}</b></p></td>
	      <td align="center"><img src="static/images/{{rest['recommend_type']}}_art.png" style="height: 50px; padding: 0px 25px 0px 25px"></td>
	      <td align="center"><img src="static/images/yelp_{{rest['yelp']}}.png" style="width: 160px; padding: 0px 25px 0px 25px"></td>
	    </tr>
	  </table>
	</div>

	  <!-- Restaurant Details div-->
	  
      <!-- Additional information about the relative -->
      <div class="row placeholders" id="{{rest['rank']}}">
	<hr align="center" style="height: 1px; width: 80%; color: #000; background-color: #000">
	<p align="center" style="font-size:24px">Compared to top {{input_term}} restaurants</p>
        <div class="col-xs-6 col-sm-3 placeholder">
          <h4 align="center"><u>Food</u></h4>
	  <img src="static/images/food_art.png" style="display: block; margin-left: auto; margin-right: auto; height: 50px"/>
	  <img src="static/images/ffcircle_{{rest['details']['food']['ffround']}}.png" style="display: block; margin-left: auto; margin-right: auto; height: 120px"/>
          <p align="center" style="margin-top: -70px; font-size: 18px"><b>{{rest['details']['food']['ffscore']}}</b></p>
	  <p align="center" style="margin-top: 40px; font-size: 18px">Ranked: {{rest['details']['food']['rank']}} of {{total_evaluated}}</p>
       </div>
        <div class="col-xs-6 col-sm-3 placeholder">
          <h4 align="center"><u>Drinks</u></h4> 
	  <img src="static/images/drinks_art.png" style="display: block; margin-left: auto; margin-right: auto; height: 50px"/>
	  <img src="static/images/ffcircle_{{rest['details']['drinks']['ffround']}}.png" style="display: block; margin-left: auto; margin-right: auto; height: 120px"/>
          <p align="center" style="margin-top: -70px; font-size: 18px"><b>{{rest['details']['drinks']['ffscore']}}</b></p>
	  <p align="center" style="margin-top: 40px; font-size: 18px">Ranked: {{rest['details']['drinks']['rank']}} of {{total_evaluated}}</p>
       </div>
        <div class="col-xs-6 col-sm-3 placeholder">
          <h4 align="center"><u>Service</u></h4>
	  <img src="static/images/service_art.png" style="display: block; margin-left: auto; margin-right: auto; height: 50px"/>
	  <img src="static/images/ffcircle_{{rest['details']['service']['ffround']}}.png" style="display: block; margin-left: auto; margin-right: auto; height: 120px"/>
          <p align="center" style="margin-top: -70px; font-size: 18px"><b>{{rest['details']['service']['ffscore']}}</b></p>
	  <p align="center" style="margin-top: 40px; font-size: 18px">Ranked: {{rest['details']['service']['rank']}} of {{total_evaluated}}</p>
       </div>
        <div class="col-xs-6 col-sm-3 placeholder">
          <h4 align="center"><u>Atmosphere</u></h4>
	  <img src="static/images/atmosphere_art.png" style="display: block; margin-left: auto; margin-right: auto; height: 50px"/>
	  <img src="static/images/ffcircle_{{rest['details']['atmosphere']['ffround']}}.png" style="display: block; margin-left: auto; margin-right: auto; height: 120px"/>
          <p align="center" style="margin-top: -70px; font-size: 18px"><b>{{rest['details']['atmosphere']['ffscore']}}</b></p>
	  <p align="center" style="margin-top: 40px; font-size: 18px">Ranked: {{rest['details']['atmosphere']['rank']}} of {{total_evaluated}}</p>
        </div>
      </div>


	<hr align="center" style="height: 2px; color: #000; background-color: #000">
      </div>
      {% endfor %}
    </div>








    <!-- Javascript function for hiding/showing restaurant details -->
    <script>
      var code_show1 = false;
      var code_show2 = false;
      var code_show3 = false;
      var code_show4 = false;
      var code_show5 = false;
      $('div.row.placeholders').hide();
      function code_toggle(ID) {
        if (ID==1){
          if (code_show1){
            $('#'+ID).hide();
          } else {
            $('#'+ID).show();
          }
          code_show1 = !code_show1
        } else if (ID==2){
          if (code_show2){
            $('#'+ID).hide();
          } else {
            $('#'+ID).show();
          }
          code_show2 = !code_show2
        } else if (ID==3){
          if (code_show3){
            $('#'+ID).hide();
          } else {
            $('#'+ID).show();
          }
          code_show3 = !code_show3
        } else if (ID==4){
          if (code_show4){
            $('#'+ID).hide();
          } else {
            $('#'+ID).show();
          }
          code_show4 = !code_show4
        } else if (ID==5){
          if (code_show5){
            $('#'+ID).hide();
          } else {
            $('#'+ID).show();
          }
          code_show5 = !code_show5
        }
      }
      $( document ).ready(code_toggle);
    </script>
    <script>$('div.row.placeholders').hide()</script>
    

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="static/js/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../static/js/bootstrap.js"></script>
  </body>
</html>
